.button {
    background: #e74c3c !important;
    color: white !important;
    margin: auto;
    display: block;
    font-size: 18pt !important;
    font-weight: bold;
    transition: .2s;
}

.button:hover {
    background: #f54836 !important;
    transition: .2s;
}

.button:active {
    background: #a10f00 !important;
    box-shadow: rgba(0, 0, 0, .45) 1px 1px 8px 0px;
    transition: .1s;
}