.button {
    background: #009cff !important;
    color: white !important;
    margin: auto;
    display: block;
    transition: .2s;
}

.button:hover {
    background: #2e99de !important;
    transition: .2s;
}

.button:active {
    background: #0070b7 !important;
    box-shadow: rgba(0, 0, 0, .45) 1px 1px 8px 0px;
    transition: .1s;
}